<!DOCTYPE html>
<html>
<head>
    <title>OBD-II Log thing</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        #map {
            height: 100%;
        }

        html, body {
            height: 100%;
            margin: 5px;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="map"></div>

<script>
    let map;
    let maxSpeed;

    // start and end are properties with { r, g, b }
    // missing typescript atm. returns { r, g, b }
    // bilinearly interp'd by frac
    function interpColor(start, end, frac) {
        // sanity check: clamp
        frac = Math.min(Math.max(frac, 0.0), 1.0);

        // assumes full alpha
        const deltaRed = end.r - start.r;
        const deltaGreen = end.g - start.g;
        const deltaBlue = end.b = start.b;

        return {
            r: start.r + deltaRed * frac,
            g: start.g + deltaGreen * frac,
            b: start.b + deltaBlue * frac
        };
    }

    // returns css rgb() string of color
    function getSpeedColor(mps) {
        // we will go from green (fastest) to red for stopped
        const frac = mps / maxSpeed;
        const stoppedColor = {r: 255, g: 0, b: 0};
        const maxColor = {r: 0, g: 255, b: 0};
        const interp = interpColor(stoppedColor, maxColor, frac);
        return `rgb(${interp.r}, ${interp.g}, ${interp.b}`;
    }

    // this gets a feature from data passed in for each datapoint
    function getMarker(dp) {
        // @type {google.maps.Data.StyleOptions}
        const speed = dp.getProperty('speed');
        const loiterCount = dp.getProperty('loiter');
        const alt = dp.getProperty('alt');
        return ({
            icon: {
                path: google.maps.SymbolPath.CIRCLE,
                scale: Math.max(6, Math.min(300, 0.5 * loiterCount)),
                fillColor: getSpeedColor(speed),
                fillOpacity: Math.min(0.75, Math.max(0.3, 0.1 * loiterCount)),
                strokeWeight: 0.1,
            }
        });
    }

    function getDataForDist() {
        fetch('//localhost:5000/mindist/8')
            .then(resp => resp.json())
            .then(jsond => onData(jsond))
            .catch(err => console.error);
    }

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 39.5749759, lng: -105.1097842},
            zoom: 15
        });

        map.data.setStyle(getMarker);
        getDataForDist();
    }

    function onData(data) {

        maxSpeed = data.points.reduce((acc,v) => {
            return !acc || v.speed > acc ? v.speed : acc;
        }, 0);

        console.log('max speed =', maxSpeed);
        // it would be nice to have backend provide this in correct format
        // but it doesnt have access to google maps LatLng proto, trying to fake it didnt work
        data.points.forEach(dp => {
            const ll = new google.maps.LatLng(dp.lat, dp.long);
            map.data.add({
                geometry: ll,
                properties: {...dp}
            });
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAwXXHDTsTzkRueSdOkN4NzkhODAQ_Zac&callback=initMap" async
        defer>
</script>
<div style="color: rgb(48,255,0);">
</div>
</body>
</html>
